main {
    visibility: hidden;
}

/*------------------------------------
------------ Layout ------------------
------------------------------------*/

h1,
h2,
h3,
label,
a,
p,
svg {
    color: #d7d728e3;
}

html,
body {
    /* background-color: #232700; */
    margin: 0;
    padding: 0;
}

@media (max-width: 720px) {

    /*---------- Name --------------*/
    h1 {
        font-size: 2.3em;
        margin-bottom: 2%;
        text-align: center;
    }

    /*---------- Role --------------*/
    h2 {
        font-size: 1.3em;
        margin-bottom: 0.3%;
        margin-top: 0;
        text-align: center;
    }

    /*---------- #userProfile --------------*/
    #userProfile {
        padding: 2%;
        margin: 0;
        background-color: #232700;
    }

    /*---------- figure --------------*/
    figure {
        padding: 0%;
        margin: 0%;
        display: flex;
        justify-content: center;
    }

    /*---------- image --------------*/
    img {
        width: 70vw;
        height: 36vh;
        object-fit: cover;
        object-position: center;
        overflow: hidden;
        border: 1px #a4b25f solid;
        border-radius: 6mm;
    }

    /*----------- Text ---------------*/
    #userProfile>p {
        text-align: center;
    }

    /*----------- Address -------------*/
    /*----------- Listing Items -------------*/
    #emailIcon {
        grid-area: emailIcon;
        padding-top: 1px;
    }

    #phoneIcon {
        grid-area: phoneIcon;
        padding-top: 1px;
    }

    #linkedInIcon {
        grid-area: linkedInIcon;
        padding-top: 1px;
    }

    #githubIcon {
        grid-area: githubIcon;
        padding-top: 1px;
    }

    #sketchFabIcon {
        grid-area: sketchFabIcon;
        padding-top: 1px;
    }

    #emailText {
        grid-area: emailText;
    }

    #phoneText {
        grid-area: phoneText;
    }

    #linkedInText {
        grid-area: linkedInText;
    }

    #githubText {
        grid-area: githubText;
    }

    #sketchFabText {
        grid-area: sketchFabText;
    }

    /*-------------- Grid for Address ------------------*/
    address {
        display: grid;
        grid-template-areas:
            "emailIcon emailText"
            "phoneIcon phoneText"
            "linkedInIcon linkedInText"
            "githubIcon githubText"
            "sketchFabIcon sketchFabText"
        ;
        justify-content: center;
        column-gap: 10px;
        row-gap: 10px;
        padding-left: 20%;
        padding-bottom: 6%;
    }

    /*------------- Navigation Bar -----------------------*/
    /*---------- Default Behaviour ---------------*/
    nav {
        margin-top: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-bottom: 0;
    }

    .MenuButton {
        width: 100%;
        font-size: 18px;
        border: 0;
        background-color: #a4b25f;
    }

    .NavigationBarContent {
        display: none;
        width: 100%;
    }

    .NavigationBarContent a {
        display: block;
        text-align: center;
        padding-top: 6px;
        padding-bottom: 6px;
        text-decoration: none;
    }

    .NavigationBarContent a:hover {
        background-color: #a4b25f;
        color: #232700;
    }

    nav:hover .NavigationBarContent {
        display: flex;
        flex-direction: column;
        color: #a4b25f;
        background-color: #232700;
    }

    /*-----------------------------------------------------------
    ------------------------- FOOTER ----------------------------
    -----------------------------------------------------------*/

    /*---------------------- Contact Me ---------------------------*/
    #contactMe {
        /* margin-top: 10%; */
        margin-top: 0%;
        padding-top: 6%;
        width: 100%;
        background-color: #a4b25f;
    }

    #contactMe>h2,
    form>label {
        color: #232700;
    }

    #contactMe>h2 {
        margin: 0;
    }

    form>label {
        margin-top: 10px;
        margin-bottom: 3px;
    }

    form {
        display: flex;
        flex-direction: column;
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 6%;
    }

    form>button {
        margin-top: 6%
    }

    /*---------------------- Copyright ---------------------------*/

    #copyright {
        margin-top: 0%;
        padding-right: 2%;
        padding-left: 2%;
        background-color: #232700;
    }

    #copyright>h2 {
        padding-top: 6%;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .CopyrightInformation {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 0;
        padding-bottom: 6%;
        /* padding-bottom: 13px; */
    }

}