main, footer {
    visibility: hidden;
}

body {
    margin-left: 15vw;
    margin-right: 15vw;
    /* background-color: #252020; */
}

/*------------------------------------
---------- USER PROFILE --------------
------------------------------------*/

/*---------- Heading 1 -------------*/
h1 { 
    font-size: 60px;
    margin-top: 0.38em;
    margin-bottom: 0px;
}

h2 { 
    font-size: 30px; 
    margin: 0px;
}

img { width: 15vw; }
figure {
    grid-area: image;
    margin-top: 1.3em;
    margin-left: 1.3em;
    margin-bottom: 1em;
    margin-right: 2em;
}
#userProfile > h1 { grid-area: userName; }
#userProfile > h2 { grid-area: userRole; }
#userProfile > p { grid-area: text; }

#userProfile {
    display: grid;
    grid-template-areas: 
    "image userName"
    "image userRole"
    "image text"
    "image contactInformation"
    ;
    border-color: green;
    border-style: solid;
    border-width: 1px;
    padding-right: 1em;
}

/*------- Address Item Assignment ----------*/

#emailIcon { grid-area: emailIcon; }
#emailText { grid-area: email; }
#phoneIcon { grid-area: phoneIcon; }
#phoneText { grid-area: phone; }
#linkedInIcon { grid-area: linkedInIcon; }
#linkedInText { grid-area: linkedIn; }
#githubIcon { grid-area: githubIcon; }
#githubText { grid-area: github; }
#sketchFabIcon { grid-area: sketchFabIcon; }
#sketchFabText { grid-area: sketchFab; }

/*-------------- Adjusting Padding -------------*/
/*-------------- Icons -------------------------*/
#emailIcon,
#phoneIcon,
#linkedInIcon,
#githubIcon,
#sketchFabIcon {
    margin-top: 0.3em;
    margin-right: 1em;
}

/*------------------- Text -----------------------*/
#emailText,
#phoneText,
#linkedInText,
#githubText,
#sketchFabText {
    margin-right: 5em;
}

/*-------------------- Address ---------------------*/

address {
    display: grid;
    grid-area: contactInformation;
    grid-template-areas: 
    "emailIcon email phoneIcon phone linkedInIcon linkedIn"
    "githubIcon github sketchFabIcon sketchFab . ."
    ;
    justify-content: start;
    margin-left: 1em;
    margin-bottom: 2.6em;
    row-gap: 0.3em;
}

/*------------------------------------
----------- NAVIGATION ---------------
------------------------------------*/
nav {
    display: flexbox;
    flex-wrap: wrap;
    overflow: scroll;
}

nav > a {
    margin-left: 1em;
    margin-right: 1em;
}